@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.tech-list {
  flex: 0 35%;
}

.icon {
  width: 1.25rem;
}

.icon:hover {
  filter: invert(19%) sepia(64%) saturate(3769%) hue-rotate(237deg) brightness(89%) contrast(101%);
}
.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.x-spacing {
  @apply px-20;
}

.gray-bg-custom {
  @apply bg-[#F2F1EE];
}

.orange-text-custom {
  @apply text-[#7289da]
}

.hero-title {
  font-family: 'Peralta', cursive;
}

.bg-primary {
  @apply bg-[#FBF5F3]
}

.bg-secondary {
  @apply bg-[#E28413]
}